{% extends "base.html" %}

{% block head %}
{{super()}}

<style type="text/css">
td
{
    padding:0 15px 0 15px;
}
</style>

{% endblock %}

{% block content %}
<div>
    <table>
        <tr>
        {% for item in header %}
        <td><b>{{ item }}</b></td>
        {% endfor %}
        </tr>
        {% for cell in cell_types %}
        <tr>
            {% for item in cell %}
            <td>{{ item|safe }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}
